@page "/pagination"


<h3>Pagination</h3>
<br />

<input @bind="NbEntity" type="number" />
<button type="button" class="btn btn-primary" @onclick="Generate">Generate</button>
<br />
<br />

@if (Generated == true)
{
    <br />
    <div class="row">
        Pagination + CRUD d'une liste d'Entity (@ListPersons.Count)
        <TableComponentOverrided ListEntities="ListPersons" Paginated="true" Crud="true"></TableComponentOverrided>
    </div>

    <br />
    <div class="row">
        Pagination d'une liste d'Entity personalisée (@ListPersonsFiltered.Count)
        <TableComponentOverrided ListEntities="ListPersonsFiltered" Paginated="true"></TableComponentOverrided>
    </div>

    <br />
    <div class="row">
        Tableau complet + Crud d'une liste d'Entity (@ListPersons.Count)
        <TableComponentOverrided ListEntities="ListPersons" Crud="true"></TableComponentOverrided>
    </div>
    
    <br />
    <div class="row">
        Tableau complet d'une liste d'Entity (@ListPersons.Count)
        <TableComponentOverrided ListEntities="ListPersons"></TableComponentOverrided>
    </div>

    <br />
    <div class="row">
        Pagination d'un TrucNotEntity (@ListTruc.Count)
        <TableComponentOverrided ListEntities="ListTruc" Paginated="true"></TableComponentOverrided>
    </div>
    
    <br />
    <div class="row">
        Tableau Complet d'un TrucNotEntity (@ListTruc.Count)
        <TableComponentOverrided ListEntities="ListTruc"></TableComponentOverrided>
    </div>



}